/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	Reference Styling for not loading backgrounds until they come into view.
*/
/* line 7, ../../src/scss/useful-parallax.scss */
.parallax-col {
  background-color: #000;
  border: solid 1px #000;
  height: 288px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
}
/* line 16, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row {
  border-bottom: solid 1px #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 96px;
  overflow: hidden;
  position: relative;
}
/* line 24, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-fg {
  font-size: 24px;
  font-size: 2rem;
  box-shadow: inset 0 0 16px #000;
  color: #fff;
  font-weight: bold;
  line-height: 96px;
  text-align: center;
  text-shadow: 0 0 3px #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
/* line 39, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg {
  height: 192px;
  position: absolute;
  left: 0;
  top: -48px;
  right: 0;
  bottom: -48px;
  z-index: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  background-position: 50% 50%;
}
/* line 49, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-0 {
  background-image: url(../img/figure_0a.jpg);
}
/* line 50, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-1 {
  background-image: url(../img/figure_1a.jpg);
}
/* line 51, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-2 {
  background-image: url(../img/figure_2a.jpg);
}
/* line 52, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-3 {
  background-image: url(../img/figure_3a.jpg);
}
/* line 53, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-4 {
  background-image: url(../img/figure_4a.jpg);
}
/* line 54, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-5 {
  background-image: url(../img/figure_5a.jpg);
}
/* line 55, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-6 {
  background-image: url(../img/figure_6a.jpg);
}
/* line 56, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-7 {
  background-image: url(../img/figure_7a.jpg);
}
/* line 57, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-8 {
  background-image: url(../img/figure_8a.jpg);
}
/* line 58, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row .parallax-bg.bg-9 {
  background-image: url(../img/figure_9a.jpg);
}
/* line 60, ../../src/scss/useful-parallax.scss */
.parallax-col .parallax-row.off-stage .parallax-bg {
  background-image: none !important;
}
